/* Estilos para el carrusel personalizado */
.custom-carousel {
  /* Establece una altura máxima para el carrusel */
  max-height: 500px; /* Ajusta según tus necesidades */

  /* Centra el contenido verticalmente */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ajusta para mover los puntos a la parte inferior */

  /* Estilos adicionales para personalizar según tus necesidades */
}

/* Estilos para los puntos indicadores */
.carousel .control-dots {
  /* Alinea los puntos indicadores a la parte inferior */
  margin-top: auto !important; /* Mueve los puntos a la parte inferior */
  text-align: center; /* Alinea los puntos al centro horizontalmente */

  /* Estilos adicionales para personalizar según tus necesidades */
}

/* Estilos para los puntos individuales */
